<h1>All our flats</h1>


<ul>
  <% @flats.each do |flat| %>
    <li>
      <%= link_to flat['name'], flat_path(flat['id']) %> (<%= flat['price'] %>)

      <%= image_tag flat['imageUrl'], width: 50, alt: "alttext" %>
    </li>
  <% end %>
</ul>
